.developmint {
  color: $developmint-green;

  &:hover {
    color: darken($developmint-green, 5%);
    text-decoration: underline;
  }
}

.sticky {
  position: sticky;
}

$durations: (.5, 1, 2, 5, 10);

@mixin generate-animation-durations() {
  @each $duration in $durations {
    .animation-duration-#{$duration} {
      animation-duration: #{$duration}s;
    }
  }
}

@include generate-animation-durations();
