.developmint {
  color: $developmint-green;

  &:hover {
    color: darken($developmint-green, 5%);
    text-decoration: underline;
  }
}

.sticky {
  position: sticky;
}

@variants hover, group-hover {
  .rotate-45 {
    transform: rotate(45deg);
  }
}

.transition-all-300 {
  transition: all .3s;
}

//Height fix for anchors

a[id] {
  @apply .-mt-8 .pt-8;
}
