
/* Height fix for anchors */
html {
  scroll-padding-top: theme('spacing.8');
}

/*
 * Adapted from animate.css (https://github.com/daneden/animate.css/)
 */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
}
